element {
}
.c-s-wrap {
    position: fixed;
    top: 59px;
    left: 0;
    padding-top: 26px;
    padding-bottom: 10px;
    background: #f1f1f1;
    width: 100%;
    z-index: 9999;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Roboto,Segoe UI,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
}
body {
    font: 400 16px/24px proximaNova,sans-serif;
        font-family: proximaNova, sans-serif;
    color: #333;
    -webkit-text-size-adjust: none;
}
body {
    line-height: 1.42857143;
}
html {
    font-size: 10px;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
